@import "../../scss/_mixins.scss";
@import "../../scss/variables";


.developer_container {
  height: 50vh;

  .developer_content {
    max-width: $max-width;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .informations {
      margin: auto;
      padding: 1rem;

      h2 {
        font-size: clamp(1.2rem, 2.2rem, 3.2rem);
      }

      p {
        font-size: 1.1rem;
      }

      span {
        color: $cyan;
      }
    }

    .img_container {

      .img_content {
        height: 100%;
        @include align-flex(center);
        padding: 1rem;

        img {
          width: 250px;
          box-shadow: 0 0 12px $primary-blue;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .developer_container {
    height: 80vh;

    .developer_content {
      flex-direction: column;
      text-align: center;
      margin-top: 2rem;
    }

    .img_container {
      margin: 0 0 5rem;
    }
  }
}