@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Colors
$light-gray: #ececec;
$lighter-gray: #887e7e0a;
$mid-gray: #dbd9d9;
$gray: #bfbfbf;

$black: #000;
$light-black: #333;

$light-violet: #f3ebf6;
$dark-violet:  #3b3054;
$grayish-violet: #9e9aa7;
$very-dark-violet: #232127;

$blue-grey: #cddeee;
$light-blue: #86aed3;
$blue: #2b649c;
$dark-blue: #1c4165;
$very-dark-blue:#35323e;
$cyan: #00d8ff;

$primary-blue: #00d8ff;
$primary-purple:  #6a00ff;


// Font 
$font-fam: 'Kanit', 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-size: 18px;


// Max Width
$max-width: 1440px;